@font-face {
  font-family: "sk";
  src: url("/fonts/sk.eot?rev=20150408181843");
  src: url("/fonts/sk.eot?rev=20150408181844") format("embedded-opentype"), url("/fonts/sk.woff?rev=20150408181845") format("woff"), url("/fonts/sk.ttf?rev=20150408181846") format("truetype"), url("/fonts/sk.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "skReactions";
  src: url("/fonts/sk-reactions.eot");
  src: url("/fonts/sk-reactions.eot") format("embedded-opentype"), url("/fonts/sk-reactions.woff") format("woff"), url("/fonts/sk-reactions.ttf") format("truetype"), url("/fonts/sk-reactions.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  color: #3b3e3f;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  body.menu-open, body.search-open, body.modal-open, body.tour-open {
    overflow: hidden; }
  body a {
    color: #8b9092; }

header.main {
  height: 51.2px;
  border-bottom: 1px solid #dfe1e1; }
