@font-face {
  font-family: "sk";
  src: url("/fonts/sk.eot?rev=20150408181843");
  src: url("/fonts/sk.eot?rev=20150408181844") format("embedded-opentype"), url("/fonts/sk.woff?rev=20150408181845") format("woff"), url("/fonts/sk.ttf?rev=20150408181846") format("truetype"), url("/fonts/sk.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "skReactions";
  src: url("/fonts/sk-reactions.eot");
  src: url("/fonts/sk-reactions.eot") format("embedded-opentype"), url("/fonts/sk-reactions.woff") format("woff"), url("/fonts/sk-reactions.ttf") format("truetype"), url("/fonts/sk-reactions.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  color: #3b3e3f;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }
  body.menu-open, body.search-open, body.modal-open, body.tour-open {
    overflow: hidden; }
  body a {
    color: #8b9092; }

header.main {
  border-bottom: 1px solid #dfe1e1;
  box-sizing: border-box;
  height: 81.2px;
  padding-top: 13px;
  text-align: center; 
  position: fixed;
  width: 100%;
  top:0;
  z-index: 99999;
  background-color: #fff; }

i.she {
    font-family: "sk"; 
    color: #f60;
    margin-right: .05em;
    font-size: 2.7em;
    font-style: normal; }
i.knows {
    font-family: "sk"; 
    color: #666;
    font-size: 2.7em;
    font-style: normal; }
i.she::before {
    content: "\e60e"; }
i.knows::before {
    content: "\e60d"; }

#navigation {
    position: absolute;
    left: 20px;
    top: 20px; }

.page {
  max-width: 1034px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  min-height: 800px;
  transition: all .2s ease-out 0s;
  background-color: #fafafa; 
  margin-top: 81.2px; }
  .page main {
    position: relative; }

.right-rail {
  min-height: 400px;
  position: absolute;
  right: 0;
  top: 0;
  width: 20em; }

main article h1, main article .h1 {
  color: #3b3e3f;
  padding: 0 remToPx(0.75); }

main article {
  margin-right: 20em;
  padding-top: 0; 
  padding-left: .5em; }

  main article h1 {
    font-size: 2em;
    line-height: 1.15em;
    font-weight: 400; }
  main article .ui-date {
    padding: 0 remToPx(0.75);
    display: block;
    line-height: rem(50);
    float: left; }
  main article .ui-presented-by {
    float: right; }
  main article .presented-by-sponsored-bug {
    width: 180px;
    height: 50px;
    border: 0;
    margin: 0;
    padding: 0; }
  main article .follow {
    display: block;
    text-align: left;
    padding: 0;
    line-height: 1em; }
    main article .follow i {
      line-height: 1.4em; }
  main article .ui-article-navigation {
    font-size: remToPx(0.8);
    padding: 0 0 0 12px;
    text-decoration: none;
    color: #8b9092; }
    main article .ui-article-navigation a {
      text-decoration: none;
      font-size: remToPx(0.6);
      color: #8b9092;
      padding: .15em .4em;
      margin: 0 .2em 0 0;
      letter-spacing: .08em;
      vertical-align: middle; }
      main article .ui-article-navigation a.label {
        background: #fff;
        padding: .4em .6em;
        margin: .5em 0;
        display: inline-block;
        border: 1px solid #dfe1e1;
        border-radius: 0.5em; }
    main article .ui-article-navigation .next-prev-wrapper {
      width: 10.5em;
      margin: 0 0 0.65em 0;
      display: inline-block; }
    main article .ui-article-navigation .previous, main article .ui-article-navigation .next {
      color: #8b9092;
      background: #fff;
      border-radius: 6em;
      border: 1px #dfe1e1 solid;
      display: inline-block;
      font-size: remToPx(0.6); }
      main article .ui-article-navigation .previous .title, main article .ui-article-navigation .next .title {
        display: none; }
      main article .ui-article-navigation .previous i.arrow-left, main article .ui-article-navigation .previous i.arrow-right, main article .ui-article-navigation .next i.arrow-left, main article .ui-article-navigation .next i.arrow-right {
        font-size: 2em;
        display: inline-block;
        margin: 0; }
    main article .ui-article-navigation .next {
      padding: .3em .3em .3em .9em; }
      main article .ui-article-navigation .next .next-story {
        display: inline-block; }
        main article .ui-article-navigation .next .next-story span {
          margin: .1em 0 0 0;
          display: inline-block; }
    main article .ui-article-navigation .previous {
      padding: .3em .3em .3em .3em; }
      main article .ui-article-navigation .previous .previous-story span {
        display: none; }
  main article .author {
    clear: both;
    margin-top: .5em; }
    main article .author .row {
      padding: 0 remToPx(0.75); }
    main article .author .avatar {
      width: 4.4em;
      height: 4.4em;
      border-radius: 50%;
      background-color: #fafafa;
      border: 0.35em solid #fafafa;
      z-index: 102;
      position: relative;
      margin-left: -.35em; }
    main article .author .info, main article .author .photo, main article .author .expand {
      display: inline-block;
      vertical-align: middle; }
    main article .author .info {
      padding: 0 2em 0 .5em;
      max-width: 65%; }
    main article .author .by {
      color: #666;
      font-size: .9em;
      font-weight: 400;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%; }
    main article .author .by-link {
      color: #666;
      text-decoration: none; }
    main article .author .title {
      display: none;
      color: #c0c3c4;
      font-size: .8em;
      margin: .25em 0 0; }
    main article .author i {
      font-size: 1.4em; }
    main article .author .bio {
      display: none;
      background-color: #f2f2f2;
      margin-top: remToPx(-0.75);
      color: #666; }
      main article .author .bio .author {
        margin: 0;
        font-size: 2em; }
      main article .author .bio p {
        font-size: .95em;
        padding: 0.75em remToPx(0.75);
        margin: 0; }
      main article .author .bio .links {
        padding: 0.25em remToPx(0.75) 1em;
        background-color: white; }
      main article .author .bio .profile-link {
        display: inline-block;
        vertical-align: middle;
        font-size: .75em;
        color: #666;
        font-weight: 400;
        margin-right: 2em;
        text-decoration: none;
        line-height: 3em; }
      main article .author .bio .expert-badge {
        max-height: 2.4em;
        display: inline-block;
        vertical-align: middle; }

/*# sourceMappingURL=app.css.map */
